/* general page body style */
body {
    background-image: url("../images/background_music.jpg");
    font-family: geneva, arial, helvetica, sans-serif;
    font-size: 80%;
    margin: 0;
    padding: 0;
}

/* style for the top main menu */
.mainmenu {
}

/* info message container */
.ui-growl {
    top: 50px;
    right: 20px;
}

/* suppress the terminal border */
.ui-dialog .ui-terminal {
    border: 0;
}

/* terminal dialog content */
.ui-dialog.terminalDialog .ui-dialog-content {
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    padding: 0;
}

.ui-dialog.terminalDialog .ui-terminal {
    font-size: 12pt;
    font-family: "Consolas", "Courier New", Courier, mono, serif;
}

/* color for the terminal input */
.ui-dialog.terminalDialog .ui-dialog-content input[type="text"] {
    color: white;
    font-size: 12pt;
    font-family: "Consolas", "Courier New", Courier, mono, serif;
    padding: 0;
    margin: 0;
}

/* wizard for the creation of new evaluation instances */
.creationWizard .ui-wizard-content {
    height: 260px;
}

/* grid style of the midi upload wizard step */
.creationWizard .midiUploadGrid td:first-child {
    width: 1%;
}

/* panel containing the upload component */
.creationWizard .midiUploadGrid .midiUploadPanel, .songChooserPanel {
    height: 225px;
}

/* style for the upload browse panel */
.midiUploadPanel .ui-fileupload-browser {
    margin-bottom: 10px;
}

/* description of the midi upload */
.midiUploadPanel .midiUploadDescription {
    /*font-size: 0.9em;*/
    margin-bottom: 10px;
}

/* style for the docking menu */
.dockingMenu .ui-dock-bottom {
    z-index: 2000;
}